body {
  background-image: url("/imgs/san-fran-street.jpg");
  background-attachment: fixed;
  background-size: 100% 500px;
  background-repeat: no-repeat;
  font-family: comic Sans MS, verdana, sans-serif;
}

.angular-google-map-container {
    position: fixed;
    height: 400px;
    width: 100%;
    padding-top: 50px;
}

.controls {
    float: right;
    width: 30%;
}

.markerlabel {
    font-weight: bold;
    font-size: 13px;
    border: 1px solid #333;
    padding: 2px;
    background: #fff;
    color: #333;
}

h3 {
    margin: 0 20px;
}

p {
    margin-top: 20px;
    padding: 0 0 50px 20px;
}

.search-result {
    border: 5px solid black;
}

