body {
  background-image: url("/imgs/san-fran-street.jpg");
  background-attachment: fixed;
  /*background-size: 100%;*/
  /*background-width: 100%;*/
  background-position: 50% 0;
  background-repeat: no-repeat;
  font-family: comic Sans MS, verdana, sans-serif;
}

img {
  width: 100%;
}
.angular-google-map-container {
    position: fixed;
    height: 400px;
    width: 100%;
    margin: auto;
    margin-top: 65px;
}

.controls {
    float: right;
    width: 30%;
}

.map_container {
    /*position: fixed;*/
}

.markerlabel {
    font-weight: bold;
    font-size: 13px;
    border: 1px solid #333;
    padding: 2px;
    background: #fff;
    color: #333;
}

h3 {
    margin: 0 20px;
}

p {
    margin-top: 20px;
    padding: 0 0 50px 20px;
}

.search-result {
  border: 1px solid #3F4240;
  background-color: #E4F6FA;
  opacity: 0.8;
  /*background:rgba(228,246,250,0.5);*/
  margin: 1%;

}

.search-result img {
  height: 50%;
  width: 50%;
  margin-top: 15px;
  opacity: 1;
}


