<div class="container" ng-controller="TruckCtrl">
  <div class="row" ng-controller="MapCtrl">
    <div class="map_container" >
      <google-map center="map.center" zoom="map.zoom" draggable="true" options="map.options" control="map.control">
        <markers models="map.markers" coords="'self'" options="'options'" isLabel='true'>
        </markers>
      </google-map>
    </div>
  </div>

  <div ng-repeat="truck in trucks">
      <div class="row search-result">
        <div class="col-md-4">
          <img src={{truck.profPic}}>
        </div>
        <div class="col-md-8 contact-info">
          <h3> {{truck.truckName}} </h3>
          <p> {{truck.currentAddress}} </p>
          <p> {{truck.foodType}} </p>
        </div>
      </div>
    </div>
</div>
