<div  class="container clearfix" ng-controller="TruckCtrl">


    <div class="row" ng-controller="MapCtrl">
        <div class="map_container col-md-12" >
          <google-map center="map.center" zoom="map.zoom" draggable="true" options="map.options" control="map.control">
            <markers models="map.markers" coords="'self'" options="'options'" isLabel='true'>
            </markers>
          </google-map>
        </div>
    </div>



    <div class="row">


        <div class="col-md-4 col-sm-4 search-result" ng-repeat="truck in trucks">




                    <div >
                      <img class="img-responsive" src={{truck.profPic}}>
                    </div>

                    <div class="contact-info">
                      <h3> {{truck.truckName}} </h3>
                      <p> {{truck.currentAddress}} </p>
                      <p> {{truck.foodType}} </p>
                    </div>

                    <div class="">
                      <!-- <span class="like glyphicon glyphicon-heart"></span> -->
                      <img id="follow-svg" src="/imgs/heart.svg">
                    </div>



        </div>
    </div>


</div>
