<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-1.11.1.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.js"></script>

    <script type="text/javascript" src="/javascripts/application.js"></script>
  </head>
  <body>
    <h1>CLIENT</h1>
    <ng-bind>message</ng-bind>
    <ng-view></ng-view>
  </body>
</html>